@page "/"

@using Ui.Components.Reusable

<PageTitle>Josep Sendra</PageTitle>

<PageHeader Title="Josep Sendra - Main Page" />

<div class="container pt-5">
    <p class="paragraph mx-5">Welcome text...</p>
</div>