@page "/"

@using Ui.Components.Reusable

<PageTitle>Josep Sendra</PageTitle>

<PageHeader Title="Welcome to My Personal Webpage!"/>

<div class="container pt-5 text-center mx-auto"  style="max-width: 800px;" >
    <p class="paragraph">Hello! I'm Josep Sendra, passionate about new technologies, programming, and web design. I have a deep enthusiasm for Free and Open Source Software (FOSS) and privacy protection.</p>

    <p class="paragraph">While I am proficient in various programming languages, my specialization lies in C# (.NET).</p>

    <p class="paragraph">I am always in a state of continuous renewal and learning. I learn quickly and am a self-taught individual.</p>

    <p class="paragraph">Thank you for visiting my page. I look forward to sharing my journey and connecting with you!</p>

    <img class="mb-5 pb-5" height="300px" src="https://i1.wp.com/cleus.co/wp-content/uploads/2019/03/memecoders.jpg?resize=1058%2C959&ssl=1" />
</div>

