@inherits LayoutComponentBase

<div>
    <main>
        <article>
            @Body
        </article>

        <div class="position-absolute bottom-0 w-100">
            <NavMenu></NavMenu>
        </div>
    </main>
</div>
