<div class="container-xl text-center pb-4" style="max-width: 400px;">
    <div class="rounded-4" style="background-color: rgb(255, 255, 255);">
        <nav class="row">
            <div class="col">
                <NavLink href="">
                    <i class="nav-menu-icon bi-house-fill"></i>
                </NavLink>
            </div>

            <div class="col">
                <NavLink href="about-me">
                    <i class="nav-menu-icon bi-person-fill"></i>
                </NavLink>
            </div>

            <div class="col">
                <NavLink href="skills">
                    <i class="nav-menu-icon bi-book-half"></i>
                </NavLink>
            </div>

            <div class="col">
                <NavLink href="projects">
                    <i class="nav-menu-icon bi-kanban-fill"></i>
                </NavLink>
            </div>
        </nav>
    </div>
</div>
