<div>
    <select>
        <option>Personal Colorful</option>
        <option>Professional Dark</option>
        <option>Simple Light</option>
        <option>Accessibility (Colorblind)</option>
    </select>
</div>